<header>

<div id="mainnav" class="navbar navbar-default">
  <div class="container">
    <div class="navbar-header">
      <a class="navbar-brand" href="/">Home</a>
    </div>
    <div>
      <ul class="nav navbar-nav">
        <li><a href="/artists">Artists</a></li>
        <li><a href="/genres">Genres</a></li>
        <li><a href="/songs">Songs</a></li>
      </ul>
    </div>
  </div>
</div>

</header>