<h2>Artists</h2>
<br />
<div class="list">
  <% @artists.sort_by { |artist| artist.name }.each do |artist| %>
	<p>
	  <a href="/artists/<%= artist.name.gsub(" ", "%20") %>"><%= artist.name %></a>
	</p>
  <% end %>
</div>
