<h1><%=@artist.name %></h1>

<h3>Songs</h3>
<ul>
  <% @artist.songs.each do |song| %>
	<li>
	  <a href='/artist'><%=song.name %></a>
	</li>
  <% end %>
</ul>

<h3>Genres</h3>
<ul>
  <% @artist.songs.each do |song| %>
	<li>
	  <a href='/genre/<%= song.genre.name%>'><%=song.genre.name.capitalize! %></a>
	</li>
  <% end %>
</ul>



