<h2>Artists</h2>
<br />
<ul>
  <% @artists.sort_by { |artist| artist.name }.each do |artist| %>
	<li>
	  <a href="/artists/<%= artist.name.gsub(" ", "%20") %>"><%= artist.name %></a>
	</li>
  <% end %>
</ul>

