<h2>Genres</h2>
<br />
<div class="list">
  <% @genres.sort_by { |genre| genre.name }.each do |genre| %>
	<p>
	  <a href="/genres/<%= genre.name %>"><%= genre.name.capitalize %></a>
	</p>
  <% end %>
</div>

