<!DOCTYPE HTML>
<html>
<head>
	<title>Playlister</title>

</head>
<body>
	
	<h2>Welcome!</h2>
	<a href="/artist"><button class="main_filter">Artists</button></a>
	<a href="/genre"><button class="main_filter">Genres</button></a>

</body>
</html>			