<!DOCTYPE HTML>
<html>
<head>
	<title>SoundHub</title>

	<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap.min.css" />
  <link rel="stylesheet" href="/styles.css" type="text/css" />
  <link rel="icon" href="/img/favicon.png" />
</head>
<body>
  <%= partial :_header %>
	<div class="container">
    <h1>SoundHub</h1>
		<%= yield %>
	</div>
</body>
</html>
