<h2>Songs</h2>
<br />
<div class="list">
  <% @songs.sort_by { |song| song.name}.each do |song| %>
	<p>
	  <a href="/songs/<%= song.name.gsub(" ", "%20") %>"><%= song.name %></a>
	</p>
  <% end %>
</div>

