<h2>Now Playing:</h2>
<br />
<h2><%= @song.name %> by <%= @song.artist.name %> (<%= @song.genre.name.capitalize %>)</h2>
<br />

<script src="http://www.yvoschaap.com/ytpage/ytembed.js" type="text/javascript"></script>
<div id="ytThumbs"></div>

<script type="text/javascript">
	ytEmbed.init({'block':'ytThumbs','q':'<%= @song.name %>','type':'search','results':1,'order':'most_relevance','player':'embed','layout':'thumbnails'});
</script>
