body {
  font-family: Helvetica, sans-serif;
  background-color: #CDCDCD;
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
  color: #FF3300;
}

.main {
  text-align: center;
}

#ytThumbs {
  display: block;
}

.page-header {
  text-align: center;
  font: 80px white Helvetica;
}

.header-container .page-header {
  background-color: black;
  text-align: center;
  font-size: 80px;
  color: white ;
  font-family: Helvetica, sans-serif;
}

ul {
  font: 20px white bold Helvetica;
  list-style-type: square;
}

h1 {
  text-align: center;
  font-size: 80px;
  font-family: "Lucida Console", Monaco, monospace;
}

h2 {
  text-align: left;
  font-size: 50px;
  font-family: Helvetica, sans-serif;
}

h3 {
  text-align: left;
  font-size: 22px;
  font-family: Helvetica, sans-serif;
}