body {
  background-color: white;
}

.main {
  text-align: center;
}

#ytThumbs {
  display: block;
}

.page-header {
  text-align: center;
  font: 80px white Helvetica;
}

.header-container .page-header {
  background-color: black;
  text-align: center;
  font: 80px white Helvetica;
}

ul {
  font: 18px white bold Helvetica;
  list-style-type: square;
}

h1 {
  text-align: center;
  font: 80px Helvetica;
}

h2 {
  text-align: left;
}