body {
  font-family: "Lucida Console", Monaco, monospace;
  background-color: #CDCDCD;
  text-align: center;
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
  color: #FF3300;
}

.list {
  font-size: 20px;
  font-family: "Lucida Console", Monaco, monospace;
}

li {
  list-style-type: none;
}

h1 {
  font-size: 70px;
  font-family: "Lucida Console", Monaco, monospace;
}

h2 {
  font-size: 40px;
  font-family: "Lucida Console", Monaco, monospace;
}

h3 {
  font-size: 24px;
  font-family: "Lucida Console", Monaco, monospace;
}